@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.overall-layout {
  display: flex;
  min-height: 100vh;
}
/* Side NavBar Desigin */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  flex: 1 0 18.3rem;
  background-color: #0f1738;
  padding-inline: 1.1rem;
  transition: width 0.3 ease;
}
.sidebar.collapsed .hamburger-open-menu {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

/* Hide .hamburger-open-menu by default */
.hamburger-open-menu {
  display: none;
  margin-top: 10px;
  margin-left: 10px;
}
/* When the sidebar is collapsed, make the hamburger-open-menu visible */
.sidebar.collapsed .hamburger-open-menu {
  margin-top: 10px;
  margin-left: 10px;
}
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar-heading-content {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  color: white;
  font-size: 1.25rem;
}
.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
  width: 128px;
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.dropdown::before {
  content: "";
  position: absolute;
  left: 170px;
  top: 82px;
  color: #fff;
  z-index: 10000;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 2px solid #0f1738;
  border-right: 2px solid #0f1738;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}
.dropdown.active::before {
  top: 89px;
  transform: rotate(-225deg);
}
.dropdown input {
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 32px;
  border-radius: 10px;
  color: #fff;
}
.dropdown .option {
  position: absolute;
  width: 200px;
  top: 110px;
  left: 35px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.dropdown.active .option {
  display: block;
}
.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}
.dropdown .option div:hover {
  background: #0f1738;
  color: #fff;
  opacity: 50%;
}

.dropdown-toggle {
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content-business {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.895);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 210px;
    left: 60px;
    z-index: 1000;
}
.dropdown-content-financial {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.895);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 260px;
    left: 60px;
    z-index: 1000;
}
.dropdown-content a {
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.avatar-icon {
  width: 32px;
  height: 32px;
  background-color: #d66c7b; /* Choose a suitable background color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%; /* Makes it circular */
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding-block: 0.3125rem;
  & a {
    flex: 1;
    height: 2.75rem;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    & span {
      width: 1.68rem;
      height: 1.5rem;
      background-color: rgba(226, 105, 48, 1);
      border-radius: 0.375rem;
      text-align: center;
      padding-top: 0.2rem;
    }
  }
}

/* Add css Programatticly if any of them have active links */
.highlight-navLinks {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-bottom {
  padding: 1.6125rem 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.sidebar-bottom a {
  position: relative;
  flex: 1;
  width: 100%;
  height: 2.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
}

.sidebar-bottom a p {
  margin: 0;
}

.email {
  color: #7c89bf;
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  width: 143px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
}

.sidebar-bottom a span {
  text-align: center;
  padding-top: 0.2rem;
}

/* Avatar Icon */
.avatar-icon {
  width: 24px;
  height: 24px;
  background-color: #007bff; /* Choose a suitable background color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 50%; /* Makes it circular */
}

.login-face-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.three-dots::after {
  content: url("more_vert.png");
  position: relative;
  right: 0;
  padding-right: 0px;
}
/* DashBoard Conatiner Desigin*/
.dashboard {
  flex: 1;
  flex-basis: 26.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2.5rem 2.5rem;
  border-right: 1px solid #c9cee9;
}

/* Welcoming Message */
.welcome-msg {
  margin-bottom: 16px;
}

.welcome-msg h2 {
  font-size: 26px;
  font-weight: 400;
}

.welcome-msg h2 span {
  font-weight: 500;
}

.truncate {
  max-width: 8ch;             /* Limits the width to 8 characters */
  white-space: nowrap;        /* Prevents text from wrapping to the next line */
  overflow: hidden;           /* Hides any text that exceeds the defined width */
  text-overflow: ellipsis;    /* Adds the ellipsis (...) at the end of the truncated text */
}


.welcome-msg p {
  color: rgba(106, 106, 109, 1);
}

.doc-status {
  position: relative;
  margin-top: 19px;
  width: 100%;
  max-width: 343px;
  height: 182px;
  background-image: linear-gradient(
    to right,
    rgba(123, 146, 248, 1),
    rgba(255, 147, 147, 1)
  );
  border-radius: 16px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.doc-status h2 {
  margin-left: auto;
  font-size: 14px;
  font-weight: 300;
  max-width: 162px;
}

.doc-status h2 .doc-span1 {
  font-weight: 500;
}

.doc-status h2 .doc-span2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.doc-status p {
  position: relative;
  margin-bottom: 0;
}

.arrow-button {
  width: 40px;
  height: 40px;
  background-color: #c14e55;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #b0444b;
}

.arrow-button .arrow {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.arrow-button:focus {
  outline: none;
}

.card-check {
  position: absolute;
  top: -19px;
  left: 15px;
}

.stars-icon {
  position: absolute;
  top: 45px;
  right: 20px;
  width: 31px;
  height: 31px;
}

.card-checked {
  position: absolute;
  top: -1.18rem;
  left: 0.937rem;
}

/* The pie chart section */
.gradient-rectangle-2 {
  width: 343px;
  height: 182px;
  background-image: linear-gradient(
    to right,
    rgba(38, 58, 139, 1),
    rgba(26, 33, 63, 1)
  );
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6.4px;
}

.doughnut-chart-container {
  position: relative;
  width: 156px;
  height: 157px;
}

#doughnut-chart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
  color: white;
}

.color-indicator {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.application-status-content {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2px;
  font-size: 13px;
  font-weight: 400;
  color: white;
}

/* The mail box container section starts here */
.mail-box {
  width: 361px;
  height: 155px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mail-box-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mail-box-header p {
  color: #1e1f21;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.mail-box-header a {
  color: #515bae;
  font-size: 14px;
  font-weight: 500;
}

.mail-box span {
  color: #1e1f21;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
}

.mail-box-footer {
  display: flex;
  justify-content: space-between;
}

.mail-box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.mail-box-details p {
  color: #1e1f21;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

/* The mail box container section ends here */

/* The legal compliances section starts here */

/* The mail box container section starts here */
.legal-compliances {
  width: 361px;
  height: 155px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.legal-compliances-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.legal-compliances-header p {
  color: #1e1f21;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.legal-compliances-header a {
  color: #515bae;
  font-size: 14px;
  font-weight: 500;
}

.legal-compliances span {
  color: #1e1f21;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
}

.legal-compliances-footer {
  display: flex;
  justify-content: space-between;
}

.legal-compliances-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legal-compliances-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.legal-compliances-details p {
  color: #1e1f21;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
/* The legal compliances section ends here */
/* The 2nd side of the screen with 2 tables starts here */
.task-container {
  width: 100%;
}

h2 {
  margin: 0;
  font-size: 20px;
}

.tasks-header,
.payment-history-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.tasks-section,
.payment-history-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tasks-header a,
.payment-history-header a {
  color: #515bae;
  font-size: 14px;
}

.tasks-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tasks-tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #e7e7e700;
  cursor: pointer;
}

.tasks-tabs .active-tab {
  border-bottom: solid 2px rgb(0, 0, 0);
}

.tasks-table,
.payment-history-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e5e9ff;
  border-radius: 10px;
}

.tasks-table td,
.payment-history-table td {
  color: #1e1f21;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 0px;
  opacity: 0px;
}

.tasks-table th,
.payment-history-table th {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  text-align: left;
  gap: 0px;
  opacity: 0px;
  background-color: #f8f9fc;
  padding-top: 20px;
  padding-left: 20px;
}

/* Add line after each row except the last one */
.tasks-table tbody tr:not(:last-child),
.payment-history-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e5e9ff;
  padding: 0 10px;
}
.status-button {
  padding: 5px 10px;
  border: 1px solid #ceced1;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  text-wrap: nowrap;
  color: #6a6a6d;
  background: #f1f1f5;
  width: 100px; /* Set a fixed width */
  height: 24px; /* Fixed height to ensure uniformity */
  display: flex; /* Use flex to handle content alignment */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  border: 1px solid #ceced1; /* Ensure border is applied */
  opacity: 1; /* Set opacity to fully visible */
}

.status-button:hover {
  opacity: 0.8;
}

@media (max-width: 750px) {
  .overall-layout {
    flex-direction: column;
  }

  /* Side NavBar Desigin */
  #sideNavBar {
    width: 100%;
    flex: 1;
    display: block;
  }

  .dashboard {
    padding: 1rem 1rem;
    background-color: rgba(248, 249, 255, 1);
  }
  .sidebar-bottom {
    display: none;
    position: absolute;
  }
  .company-info {
    display: none;
    position: absolute;
  }

  .task-container {
    max-width: 100%;
    overflow-x: auto;
  }
  /* Targeting the task row */

  /* Tasks table responsiveness */
  #task tr {
    display: flex;
    flex-wrap: wrap;
  }

  /* Adding custom content for each table cell */
  #task td:nth-of-type(1)::before {
    font-weight: bold;
  }

  #task td:nth-of-type(2)::before {
    content: "Category: ";
  }

  #task td:nth-of-type(3)::before {
    content: "Due Date: ";
  }

  #task td:nth-of-type(4)::before {
    content: "Status: ";
  }

  /* Styling the table cells */
  #task td {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  /* Hide table header in mobile view */
  #task th {
    display: none;
  }

  /* Set maximum width for the first table cell */
  #task td:nth-of-type(1) {
    max-width: 20rem;
    font-weight: bold; /* Make the content of the first cell bold */
  }

  /* Payment history table responsiveness */
  #payment thead {
    display: none;
  }

  #payment tbody,
  #payment tr {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
  }

  #payment td {
    padding: 8px 0;
    position: relative;
    text-align: left;
    display: block;
  }

  #payment tr td[data-label="Amount"],
  #payment tr td[data-label="Transaction ID"] {
    font-weight: bold;
    font-size: 16px;
  }

  #payment tr td:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  #payment tr {
    position: relative;
  }

  /* Position the amount cell */
  #payment td[data-label="Amount"] {
    position: absolute;
    right: 4%;
    top: 8%;
  }

  /* Hide description by default */
  #payment tr td[data-label="Description"] {
    display: none;
  }

  /* Show description when the row is expanded */
  #payment tr.expanded td[data-label="Description"] {
    display: block;
  }

  /* Add arrow to the amount cell */
  #payment td[data-label="Amount"]::after {
    content: "▼"; /* Default down arrow */
    position: absolute;
    top: 28%;
    margin-left: 4px;
  }

  /* Change arrow direction when expanded */
  #payment tr.expanded td[data-label="Amount"]::after {
    content: "▲"; /* Up arrow when expanded */
  }

  /* Table css for 1st table*/
  .mail-box-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }

  .legal-compliances-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}
